{% extends 'base.html' %}
{% block content %}
        <div class="page-header">
            <h1>库内车辆</h1>
        </div>
        <p>
        </p>
        <div class="row">
          <div class="col-md-3">车牌</div>
          <div class="col-md-3">车辆类型</div>
          <div class="col-md-3">车票类型</div>
          <div class="col-md-3">入库时间</div>
        </div>
        {% if port_car %}
            {% for car in port_car %}
                {% if car.car.status %}
                <div class="col-md-3"><a href="{% url 'car-detail' car.car.id %}">{{car.car.license}}</a></div>
                <div class="col-md-3">{{ car.car.cartype }}</div>
                <div class="col-md-3">{{ car.car.tickettype }}</div>
                <div class="col-md-3">{{ car.port_time}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
{% endblock %}
