{% extends 'base.html' %}
{% block content %}
 <body>
    <div class="container">
      <form class="form-signin" id="login_form" method="POST" action="{% url 'user-login' %}">
            {% csrf_token %}
        <h2 class="form-signin-heading">请登录</h2>
        <label for="inputText" class="sr-only">用户名</label>
        <input type="text" id="inputText" class="form-control" placeholder="用户名" required autofocus>
        <br/>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
